body {
  .side-bar-toggle.ui.button{
    font-size: 0.9rem;
  }
  #page-header-bar {
    position: -webkit-sticky;
    position: sticky;
  }
  #page-title {
    display: inline;
    height: calc(5vh);
    padding-left: 5%;
    line-height: calc(5vh);

    z-index: 1000;
    top: 0;
    background-color: white;
    .follow-set {
      margin-left: 12rem;
    }
    .follow-txt {
      font-size: x-small;
      margin-right: 1rem;
    }
    @media only screen and (max-width: 991px){
      .follow-txt {
        display: none;
      }
    }
    .follow-icon {
      margin: 1rem;
      display: inline;
    }
  }

  #page-content {
    // min-height: calc(90vh);
    .huge {
      font-size: xxx-large;
    }
    .main-content {
      overflow-y: scroll !important;
      h2 {
        font-size: 3rem;
      }
      transform: scale(0.9);
      .ui.segment {
        font-size: 1.7rem;
      }
      .ui.accordion .title:not(.ui) {
        font-style: italic;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2rem;
      }
    }

    #home-screen {
      text-align: center;
      // line-height: calc(50vh);
      // height: calc(50vh);
      transform: scale(0.75);
      h1 {
        font-size: 5rem;
      }
      h2 {
        font-size: 3rem;
      }
      h3 {
        font-size: 1.7rem;
      }
    }
    #side-bar {
      z-index: 10;
      min-height: 90vh;
    }
    .ui.medium.image.my-image {
      border-radius: 100%;
      float: right;
      margin-right: 50rem;
    }
    @media only screen and (max-width: 991px){
      #home-screen {
        margin-left: 0rem;
      }
      .ui.medium.image.my-image {
        display: none;
        }
    }
    @media only screen and (max-width: 1500px){
      .ui.medium.image.my-image {
        margin-right: 20rem;
        }
    }
  }


  #page-footer {
    font: Serif;
    height: calc(5vh);
  }

  #page-overlay {
    background-color: rgba(168, 168, 177, 0.5);

    .close-layout {
      position: absolute;
      right: 0;
      color: red;
      background-color: rgba(255, 255, 255, 1);
    }
    .close-layout:hover {
      background-color: #6c6c74;
      color: white;
    }

    #sign-panel {
      position: absolute;
      left: 50%;
      top: 46%;
      width: 30%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      border: 1px black solid;
      padding: 2em;
      background-color: rgba(255, 255, 255, 1);

      .ui.header {
          font-style: italic;
          color: #6c6c74;
      }

      .submitted-message {
        margin-top: 5em;
        margin-bottom: 5em;
      }

      .error-message {
        font-style: italic;
        color: #6c6c74;
        font-size: smaller;
      }

      .divider {
        width: 7%;
        margin: auto;
      }

      form {
        padding-top: 1em;
        button {
          width: 100%;
          margin-top: 2em;
          background-color: rgba(255, 255, 255, 1);
          border: 1px solid rgba(34,36,38,.15);
        }
      }
    }

    #sign-panel.submitted-panel {
      padding: 4em;
      form label {
        font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
        color: #a1a1ad;
      }
    }
  }
}